body {
  background-color: black;
  color: aliceblue;
}

.container_image {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.bottle_image {
  width: 150px;
}

.composition_image {
  width: 60px;
}
